/* Additional styles specific to your project can be added here */

body {
  font-family: 'Arial', sans-serif;
}

#forexData {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.charts__container {
  display: flex;
  margin: 0 auto;
}

.charts__container #forexData img {
  cursor: pointer;
  max-width: 100%;
  min-height: 10rem;
  height: 10rem;
  width: 35rem;
}

.charts__container #forexData img::hover {
  transform: scale(1.1);
}

#newsHeadlines {
  border-radius: 8px;
}

.headline {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  padding: 10px;
}
